*{
	padding: 0px;
	margin: 0px;
}
@font-face{
	src:url('font/Algerian Regular.ttf');
	font-family: Algerian Regular;
}
nav{
	background-color: #931A1D;
	height: 86px;
	position: absolute;
}
@media {
	nav ul{
		background-color: none;
	}
}
@media (max-width: 991px) {
	nav ul{
		background-color: #b23629;
	}
}
.nav-link{
	color: white !important;
	font-weight: bold !important;
}
.nav-link:hover{
	color: #ee3e52 !important;
	border-bottom: 5px solid #ee3e52 !important;
}
.menu_top{
	padding: 5px !important;
	margin-right: 40px;
	font-family: SVN-AGUDA;
}
.active_custom{
	color: #ee3e52 !important;
	border-bottom: 5px solid #ee3e52 !important;
}
.item:hover{
	background-color: red;
}
.logo{
	position: relative;
	margin-left: 15%;
}
.body_content{
	padding: 50px 0 30px 0;
}
#title{
	padding: 32.7625px 32.7625px;
	margin :70px 0 0 0;
	text-align: center;
}
#sub_title{
	text-align: justify;
}
.bg_network{
	background-image: url('img/JSB CHANNEL1-06.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
	margin-left: -1px;
	padding-bottom: 150px
}
.text-center{
    text-align: center !important;
}
.icon_contact{
	padding: 20px 0 0;
	background-image: url('img/web-design-15.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.logo_footer{
	margin-bottom: 25px;
	padding: 20px;
}
.border_bottom{
	border-bottom: 1px dotted white !important;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
div.border_bottom img{
	margin-right: 10px;
}
.end{
	background-image: url('images/JSB\ Fund1-05.png');
	background-size:cover;
}
.end_content{
	padding-top: 20px;
	padding-bottom: 20px;
}
.end_div{
	margin-top: 30px;
	margin-left: 2%;
}
.text_end{
	padding-top: 18px;
	font-size: 16px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	text-align: center;
}
.up{
	height: 95%;
    width: 95%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.up:hover {
    cursor: pointer;
    height: 105%;
    width: 105%;
}
div.end_div a{
	color: white;
	font: 12px/20px PTSansRegular,Arial,Helvetica,sans-serif;
	font-weight: bold;
}
div.end_div a:hover{
	color: #ee3e52;
	text-decoration: none;
}
.btn_download{
	height: 42px;
	width: 147px;
	border-radius: 20px;
	border:1px solid;
	border-color:white;
	background-image: linear-gradient(to top,#F14859,#B01328);
	margin-top: 20px;
}
.btn_download:hover{
	height: 42px;
	width: 147px;
	border-radius: 20px;
	border:1px solid;
	border-color:white;
	background-image: linear-gradient(to bottom,#F14859,#B01328);
	margin-top: 20px;
}
p#sub_title span{
	font-family: Algerian Regular;
	font-weight: bold;
	font-size:18px;
	color:red;
}
.img-fluid {
    margin-top: 0px;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 35px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	height: 70px;
	width: 70px;
	padding: 5px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	/*,#22d8d8*/
	border-color: #044ffb;
	background: white;
	color: red;
	display: inline-block;
}
.footer_link1 a{
	color: gray !important;
	font-weight: 300;
}
.team-one__top-text p {
    color: black;
}
.new-team .team-one {
    padding-bottom: 100px;
}

.new-team .team-one__single {
    margin-bottom: 30px;
}

.new-team .team-one__image>img {
    height: 125px;
    width: 125px;

}

.new-team .team-one__content {
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: -35px;
    z-index: 10;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.new-team .team-one__single:hover .team-one__content {
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(205, 205, 205, 0.56);
}

.new-team .team-one__content h3 {
    margin: 0;
    font-size: 24px;
    font-family: var(--special-font-bold);
    color: var(--thm-black);
    letter-spacing: -0.03em;
    line-height: 1em;
}

.new-team .team-one__content p {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--thm-base);
    line-height: 1em;
    margin-top: 15px;
}

.new-team .team-one__social {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1em;
    margin-bottom: 20px;
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
}

.new-team .team-one__single:hover .team-one__social {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: opacity 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
    transition: transform 500ms ease 500ms, opacity 500ms ease 500ms;
    transition: transform 500ms ease 500ms, opacity 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
}

.new-team .team-one__social a {
    font-size: 14px;
    color: var(--thm-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.new-team .team-one__social a+a {
    margin-left: 15px;
}

.new-team .team-one__social a:hover {
    color: var(--thm-black);
}


/* team one team page */

.new-team .team-one__top {
    margin-bottom: 50px;
}

.new-team .team-one__top .block-title-two {
    margin-bottom: 0;
}

.new-team .team-one__team-page {
    padding-top: 130px;
    padding-bottom: 130px;
}

.new-team .team-one__more-btn {
    margin-top: 5px;
}


/* team one about page */

.new-team .team-one__about-page {
    padding-top: 130px;
}

.new-team {
    padding: 60px 0;
}

.new-team .block-title-two p {
    color: #ff57a4;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .2em;
    line-height: 1em;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.new-team .block-title-two h3 {
    margin: 0;
    font-size: 50px;
    line-height: 55px;
    color: #000;
    font-weight: 600;
}